.name {
	text-align: center;
}
.content {
	text-align: center;
	line-height: 1.4em;
	font-family: 'osvaldlightcregular';
	font-size: 26px;
	color: #424242;
}
.list-what-to-do {
	width: 100%;
	padding-bottom: 50px;
	background-color: #ebf3e3;
	overflow: hidden;
}
.list-what-to-do ul li{
	display: inline-block;
	float: left;
}
.content h2 {
	font-family: 'osvaldmediumcregular';
	margin: 40px 0 20px;
	font-size: 36px;
	color: #1b5e20;
}
.tomorrow {
	font-family: 'osvaldlightcregular';
	font-size: 24px;
	color: #424242;
	text-align: center;
	line-height: 1.4em;
}
.tomorrow img {
	margin-bottom: 20px;
}
.action p {
	margin-top: 15px;
	font-size: 24px;
	color: #9e9e9e;
	font-family: 'osvaldmediumcregular';
}
.proposition h2 {
	color: #d9a400;
}
.main-picture {
	height: 100vh;
	background: url(../img/background_main.jpg) no-repeat center;
	background-size: cover;
	padding-top: 20px;
	overflow: hidden;
	border-bottom: 7px solid #bdbdbd; 
}
.name h1 {
	display: inline-block;
	margin: 200px 0 0 -20px;
	font-family: 'osvaldmediumcregular';
	font-size: 60px;
	color: #fff;
}
.main-info {
	padding-top: 1px;
	height: 630px;
	background: url(../img/animals-background.jpg) no-repeat center;
	background-size: cover;
}
.proposition-background {
	padding-top: 1px;
	height: 200px;
	background: url(../img/little-animal-background.png) no-repeat center;
	background-size: cover;
	margin-bottom: 40px;
}
@media only screen and (min-width: 1224px) {
	header {
		background-color: transparent;
	}
	.action {
		width: 240px;
		height: 170px;
		margin: 50px 0px;
		text-align: center;
	}
}
@media only screen and (min-width: 600px) and (max-width: 1224px) {
	.action {
		width: 185px;
		height: 170px;
		margin: 50px 0px;
		text-align: center;
	}
	.main-info {
		padding-top: 1px;
		height: 630px;
		background: #fff;
		background-size: cover;
	}
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
	#menu-button {
		margin-top: -50px;
	}
	.action {
		width: 300px;
		height: 170px;
		margin-bottom: 30px;
		text-align: center;
		margin: 0 auto;
		margin: 20px 0;
	}
	.action p {
		margin-top: 0px;
	}
	.tomorrow {
		font-family: 'osvaldlightcregular';
		font-size: 24px;
		color: #424242;
		text-align: center;
		line-height: 1.4em;
	}
	.content h2 {
		margin: 40px 0 20px;
		font-size: 26px;
	}
	.content {
		font-size: 16px;
	}
	.proposition-background {
		height: 150px;
	}
	.main-info {
		height: 600px;
	}
}